//globl transition css

/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0
    }

    25% {
        -moz-transform: scale(0.1);
        opacity: 0.1
    }

    50% {
        -moz-transform: scale(0.5);
        opacity: 0.3
    }

    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5
    }

    to {
        -moz-transform: scale(1);
        opacity: 0.0
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0
    }

    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1
    }

    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3
    }

    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5
    }

    to {
        -webkit-transform: scale(1);
        opacity: 0.0
    }
}